.taskBox {
 max-width: 70rem;
 margin: 0 auto;
 display: grid;
}

.taskList {
  background: var(--gray-400);
  color: var(--gray-100);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.taskList button {
  background: transparent;
  border: 0;
  color: var(--gray-200);
  border-radius: 0.25rem;
  display: flex;
}

.taskList button:hover {
  color: var(--danger);
}
